body {
    font-family: 'Heebo','sans-serif';
    font-weight: 400;
    background-color: #301934;
    padding-bottom: 5%;
}
a.navbar-links {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
}
#navbar-div {
    display: none;
    justify-content: flex-end;
    column-gap: 20px;
    padding: 10px 40px;
    font-weight: 550;
    background-color: rgb(221, 193, 226);
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;

}
a {
    text-decoration:  none;
}
h1 {
    text-shadow: 2px 2px black;
    color: #301934;
}
#backdrop-right-coloumn > img.mydp {
    /* border: 10px solid rgb(0, 0, 0); */
    border-radius: 50%;
    width: 200px;
    height: auto;
    box-shadow: 5px 5px 0px 7px black;
}
#backdrop {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    column-gap: 25px;
    padding: 3% 8%;
    margin-top: 4%;
    text-align: center;
}


#backdrop-left-coloumn {

    width: 100%;
    background-color: rgb(190, 189, 189);
    color: #21243D;
    border-radius: 10%;
    padding: 3%;
    text-align: center;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 30px;
    box-shadow: 0px 5px 0px 7px black;
}
#backdrop-left-coloumn > h1 {
    font-weight: 700;
    font-size: 32px;
    
}
#backdrop-left-coloumn > p {
    font-weight: 400;
    font-size: 16px;
}
#backdrop-left-button {
    background-color: #865f84;
    color: white;
    font-weight: 500;
    font-size: 15px;
    padding: 10px 20px;
}
#backdrop-right-coloumn {
    /* height: 150px; */
    width: 100%;
    text-align: center;
    background-color: #301934;
    padding: 3%;
}
@media screen and (min-width:480px) {
    #backdrop {
        flex-direction: row;
        text-align: left;
    }
    #backdrop-left-coloumn {
        /* height: 150px; */
        width: 50%;
    }
    #backdrop-right-coloumn > img.mydp {
        width: 300px;
        height: auto;
    }
    #navbar-div {
        display: flex;
    }
    #backdrop-left-coloumn > h1 {
        font-size: 44px;
        
    }
    

}
#recent-posts-section {
    flex-basis: 50%;
    background-color:#AA98A9;
    padding: 3% 2%;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    /* margin: 5px; */

}
#recent-posts-header {
    display: flex;
    justify-content: space-between;
}
.myh4 {
    font-weight: 400;
    font-size: 22px;
    color: #21243D;
    margin: 0;
}
div.card {
    color: #21243D;
    font-weight: 400;
    background-color:rgb(190, 189, 189);
    border-radius: 5px;
    padding: 20px 22px;
}
div.card >span {
    font-size: 18px;
    padding: 5px 10px;
}
div.card > p {
    font-size: 16px;
}
h2.my-h2 {
    color: #21243D; 
    font-weight: 700;
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#card-container {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
@media screen and (min-width:480px) {
    #card-container {
        flex-direction: row;
        column-gap: 1%;
    }
    #recent-posts-section {
        flex-basis: 50%;
        padding: 1.5% 8%;
        margin-left: 35px;
        margin-right: 35px;
        margin-bottom: 45px;
        margin: 20px;
    
    }
}

section.featured-works {
    background-color:#AA98A9;
    padding: 3% 5%;
    display: flex;
    flex-direction: column;
    row-gap: 8px;

}
div.horizontal-card {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
@media screen and (min-width:480px) {
    div.horizontal-card {
    flex-direction: row;
    column-gap: 20px;
    }
}
span.pill {
    background-color: #301934;
    padding: 1.5px 12px;
    color: white;
    border-radius: 20px;
    font-size: 18px;
}
span.secondary-text {
    color: #5f6870;
    font-size: 18px;
    margin-left: 20px;
}
div.horizontal-card >div > p {
    color: #21243D;
    font-size: 16px;
}
div.horizontal-card > img {
    border-radius: 10px;
    border: 1px solid black;
    margin: 10px ;
}
#social-media-links-section {
    font-size: 30px;
    color: #8f9192;
    display: flex;
    column-gap: 15px;
    justify-content: center; 
}
#social-media-links-section > a {
    color: #8f9192; 
}
#social-media-links-section2 {
    font-size: 30px;
    color: #8f9192;
    display: flex;
    column-gap: 15px;
    justify-content: center; 
}
#social-media-links-section2 > a {
    color: #8f9192; 
}